header {
  background-color: #1968D6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3em 1.5em;
}

.fa-plus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #1968D6;
  background-color: white;
  height: 1.8em;
  width: 1.8em;
  border-radius: 1em;
}

.pointer {
  height: 0.5em;
  width: 0.5em;
  background-color: #F5A623;
  border-radius: 0.8em;
  margin-right: 0.3em;
}

h3 {
  display: flex;
  align-items: center;
}